.formContainer {
  border: 1px solid #ff9800;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #fff3e0;
}

.inputGroup {
  margin-bottom: 10px;
}

.input {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.button {
  padding: 10px 15px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
